@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700');

/*********** Global Styles********/

body, html {
		background-color: #202026;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif !important;
	font-weight: 900 !important;
}

.wrapper {
		background: #202026;
}

.img-circle {
		border-radius: 50%;
}

.my-button {
		font-size: 1em;
		line-height: normal;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out, color 0.2s 0.3s;
		letter-spacing: 0;
		border-radius: 45px;
		height: auto;
		padding: .8em 2.1em;
}

.my-button:hover {
	cursor: pointer;
	padding: .8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
	box-shadow: none;
}

/*#my-modal {
	display: none;
}

.my-form {
	margin-top: 20em;
}

.custombox-content {
	background: #212332;
}*/

/**********************************/


/*** thin bar ***/

.thin-bar {
		border-bottom: 5px solid #F33F12;
}


/*** About Section ***/
.about-bg-img{
	background-image: url(../images/home-bg-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: center center;
}

#about {
	margin-top: 10em;
	border-top: 1px solid #090000;
	padding-bottom: 1em;
	background-color: rgba(0, 0, 0, 0.85);
}

#about img {
		max-width: 15em;
		position: relative;
		bottom: 7.5em;
}

#about .greeting {
		margin-top: -2em;
}

#about h2 {
	color: #d6d6d6;
	font-size: 3.5em;
	padding-bottom: .5em;
}

#about span {
		font-weight: 300;
		font-size: .7em;
}

#about h5 {
		color: #8A8A8B;
}

#about p {
		margin-top: 1em;
		color: #646464;
		font-family: "roboto";
		font-weight: 300;
}

.cta .cta-button,.details a, .details a:link, .details a:active,#footer-cta a {
		color: rgb(58, 136, 194);
		text-transform: uppercase;
		border: 2px solid rgb(58, 136, 194);
		border-radius: 50px;
		background: white;
}

.cta .cta-button:hover, .cta .cta-button:focus,.my-arrow-div a :hover,.my-arrow-div a:focus,.details a:hover, .details a:focus,#footer-cta a:hover {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
		background-color: rgba(58, 136, 194, 0.91);
		color: white;
}
.my-arrow-div a :hover,.my-arrow-div a:focus{
	border-radius: 50%;
}

#about i {
	margin-top: 2em;
}

.fas,.fab,.fas {
	font-size: 1.2em;
	padding: 0.1em 0.4em;
	color: #B5B5B5;
}

.fas:hover,.fa:hover,.fab:hover {
	cursor: pointer;
}

/*** Experience ***/
#experience {
	background-color: #100e0e;
	padding: 6em 4em 5.6em;
}

.experience-topics{
	background-color: #202026;
	box-shadow: -1rem 0 3rem #000;
	padding: 20px;
	border-radius: 10px;
	margin:0 1%;
	width:31.33%;
	min-height:380px;
}

#experience h2 {
	color: #fff;
	margin-bottom: .7em;
}

#experience .tag-line {
	color: white;
	font-size: 1.4em;
}

#experience i {
	color: rgb(58, 136, 194);
	font-size: 4em;
}

#experience h3 {
	color: #fff;
}

.experience-topics p {
	color: #ACAEB2;
	font-family: "Maven pro", sans-serif;
	/*font-weight: 500;*/
}

.experience-topics ul li {
	list-style: none;
	color: #bbd2ff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
}

/*** work ***/
#work {
	padding: 6em 4em 3em;
	background-color:rgba(0, 0, 0, 0.85);
}

#work h2 {
	color: #fff;
	margin-bottom: .7em;
}


#work .tag-line {
	color: rgb(58, 136, 194);
	font-size: 1.4em;
	margin-bottom: 4em;
}

#work .work-row {
	margin-bottom: 5.5em;
}

#work .work-row figure {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#work .work-row figure img {
	position: relative;
	width: 100%;
	display: block;
}

#work .work-row figure figcaption {
    position: absolute;
    padding: 15px;
    height: 100%;
    width: 100%;
    top: auto;
    left: 0;
    color: 
    #fff;
    bottom: 0;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#work .work-row figure figcaption i.fas {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    font-size: 24px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 45%;
    margin-top: -22px;
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
	letter-spacing: 0px;
	color:#fff;
}

#work .work-row figure figcaption .title {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    top: 50%;
    margin-top: 30px;
    margin-top: -2px;
    transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    letter-spacing: 0px;
}

#work .work-row figure figcaption .sub-title {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 13px;
    top: 50%;
    margin-top: 30px;
    transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    letter-spacing: 0px;
}

#work .work-row figure figcaption a {
    position: absolute;
    z-index: 1111;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-indent: -99999px;
}

#work .work-row figure figcaption::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    z-index: -1;
    opacity: 0;
}

#work .work-row figure:hover {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#work .work-row figure:hover figcaption {
    background: rgba(33, 150, 243, 0.9);
	color:#fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#work .work-row figure:hover figcaption i.fas {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

#work .work-row figure:hover figcaption .title {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 1;
}

#work .work-row figure:hover figcaption .sub-title {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
}

#work .work-row figure:hover figcaption::after {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.details h3 {
	color: #fff;
	text-transform: uppercase;
}

.details .platform{
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 2em 0 -0.1em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	color: rgb(58, 136, 194);
}

.details i {
	color: rgb(58, 136, 194);
	margin-right: 1em;
}

.details p {
	color: #fff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	font-size: .9em;
	margin-bottom: 1.8em;
}

/*** teaching ***/
#teaching {
	padding: 4em 4em 3em;
}

#teaching h2 {
	color: #3d9eee;
}

#teaching .tag-line {
	color: #d6d6d6;
	font-size: 1.4em;
}

#teaching .teaching-domains {
	height: 400px;
	width: auto;
	margin-top: -4em;
}

/*** Footer Call-to-action ***/
#footer-cta {
	background-color: rgb(58, 136, 194);
	padding: 6em 4em 5.6em;
}

#footer-cta h2 {
	color: white;
}

#footer-cta p {
	color: #fff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}

#startButtonDiv {
	margin-top: 3em;
}

/*** footer starts ***/

#footer {
	padding: 5em 4em 2em;
}

#footer-cta a {
	color: white;
	border: 2px solid #fff;
	background: rgb(58, 136, 194);
}

#footer-cta a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(58, 136, 194);;
}

#footer #logo {
	border-radius: 100%;
	width:80px;
}

#footer #copyright {
	margin-top: 1.6em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	color: #7d7d7d;
}


.profile-photo {
	width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    margin-top: -100px;
    margin-bottom: 40px;
}

/*** Remove 00webhost watermark ***/

img[alt="www.000webhost.com"]{display:none !important;}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .experience-topics{
        width:98%;
        margin:1% 1%;
        min-height:420px;
    }
  }
